{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}
{% block title %}My Transactions{% endblock %}
{% block body %}
    <div id="transaction-section" class="tab-pane" role="tabpanel" aria-labelledby="transaction-tab">
    <br>
        <h3 class="text-center text-black-50 font-weight-bold">My Transaction</h3>
        {% if transactions %}
            <div class="btn-group tz-btn-group-pos" role="group" >
                <button type="button" id="printedFilterBtn" class="btn tz-singlebtn tz-singlebtn-active tz-leftbtn ">Not-Printed</button>
                <button type="button" id="nonPrintedFilterBtn" class="btn tz-singlebtn tz-rightbtn ">Printed</button>
            </div>
            <div class="table-responsive" id="not-printed">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Sr No</th>
                            <th class="text-center" scope="col">OTP</th>
                            <th class="text-center" scope="col">Amount</th>
                            <th class="text-center" scope="col">Cancel </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr {% if transaction.is_printed %}class="printed" style="display: none;" {% else %}class="non-printed"{% endif %}">
                                <th class="text-center" scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <div class="text-center">{{ transaction.otp_1 }}/{{ transaction.otp_2 }}</div>
                                        <div class="text-center">{{ transaction.file.get_pure_name }}</div>
                                    </td>
                                    <td class="text-center"><i class="fas fa-money-check" style="margin-right: 5px;"></i>{{ transaction.amount }}</td>
                                    <td class="text-center">
                                        {% if transaction.is_printed %}
                                            <form method="post" action="{{ transaction.get_hide_url }}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn waves-light tz-icnbtn"><i class="fas fa-times tz-trashicn"></i></button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ transaction.get_delete_url }}">
                                                {% csrf_token %}
                                                <button type="submit" class="btn waves-light tz-icnbtn"><i class="fas fa-trash tz-trashicn"></i></button>
                                            </form>
                                        {% endif %}
                                    </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <br><br>
            <h4 class="text-default text-center font-weight-bold">No Transactions Yet</h4>
        {% endif %}
     </div>
{% endblock %}




