{% extends "portal/base.html" %}

{% block title %}Wallet{% endblock %}

{% block body %}



    <h3>{{ user.get_short_name }}</h3>

    <h4>Balance : {{ wallet.balance }}</h4>

    <br><hr>

    <div class="container">
        <form method="post" action="{% url "recharges:create_with_custom_pack" %}">
            {% csrf_token %}
            <input name="custom_price" type="number" maxlength=4 max=9999/>
            <input type="submit" class="btn info-color-dark" value="Make Custom Recharge">
        </form>
    </div>

    {% if offer_packs %}
        {% for offer_pack in offer_packs %}
            <div class="col-lg-3 info-color">
                <h4>{{ offer_pack.name }}</h4>
                <p>{{ offer_pack.headline }}</p>
{#                <a href="{{ offer_pack.get_make_recharge_url }}" class="btn blue-gradient">Recharge</a>#}
                <a href="{{ offer_pack.get_absolute_url }}" class="btn blue-gradient">Recharge</a>
            </div>
        {% endfor %}
    {% else %}
        <h4>No Offer Packs</h4>

    {% endif %}
    <hr>
    <br><br><br>
    {% if recharges %}
        {% for recharge in recharges %}
            <a href="{{ recharge.get_absolute_url }}"><span class="blue-gradient alert">{{ recharge }}</span></a>
        {% endfor %}
    {% endif %}



{% endblock %}