{% extends 'portal/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
        <div class="tab-content container tz-section" id="myClassicTab">

                <!-- Home Section -->
                <div id="home-section" class="tab-pane fade active show" role="tabpanel" aria-labelledby="home-tab">Home</div>


                <!-- Transaction Section -->
                <div id="transaction-section" class="tab-pane fade" role="tabpanel" aria-labelledby="transaction-tab">
                  <div class="btn-group tz-btn-group-pos" role="group" >
                    <button type="button" id="not-printed-btn" class="btn tz-singlebtn tz-singlebtn-active tz-leftbtn" onclick="changeTable(this)">Not-Printed</button>
                    <button type="button" id="printed-btn" class="btn tz-singlebtn tz-rightbtn" onclick="changeTable(this)">Printed</button>
                  </div>
                  <!-- Not Printed Table -->
                  <div class="table-responsive" id="not-printed">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col">Sr No</th>
                          <th class="text-center" scope="col">OTP</th>
                          <th class="text-center" scope="col">Amount</th>
                          <th class="text-center" scope="col">Cancel </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="text-center" scope="row">1</th>
                          <td>
                            <div class="text-center">5463/2345</div>
                            <div class="text-center">file1.pdf</div>
                          </td>
                          <td class="text-center"><i class="fas fa-money-check" style="margin-right: 5px;"></i>120</td>
                          <td class="text-center">
                            <button class="btn waves-light tz-icnbtn"><i class="fas fa-times tz-trashicn"></i></button>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-center" scope="row">2</th>
                          <td>
                            <div class="text-center">1234/9865</div>
                            <div class="text-center">file2.jpeg</div>
                          </td>
                          <td class="text-center"><i class="fas fa-coins" style="margin-right: 5px;"></i>20</td>
                          <td class="text-center">
                            <button class="btn waves-light tz-icnbtn"><i class="fas fa-times tz-trashicn"></i></button>
                          </td>
                        </tr>
                        <tr>
                          <th class="text-center" scope="row">3</th>
                          <td>
                            <div class="text-center">2567/5245</div>
                            <div class="text-center">file3.doc</div>
                          </td>
                          <td class="text-center"><i class="fas fa-coins" style="margin-right: 5px;"></i>35</td>
                          <td class="text-center">
                            <button class="btn waves-light tz-icnbtn"><i class="fas fa-times tz-trashicn"></i></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- Printed Table -->
                  <div class="table-responsive" id="printed" style="display:none;">
                    <table class="table">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col">Sr No</th>
                          <th class="text-center" scope="col">OTP</th>
                          <th class="text-center" scope="col">Amount</th>
                          <th class="text-center" scope="col">Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <th class="text-center" scope="row">1</th>
                        <td>
                          <div class="text-center">5463/2345</div>
                          <div class="text-center">file1.pdf</div>
                        </td>
                        <td class="text-center"><i class="fas fa-money-check" style="margin-right: 5px;"></i>120</td>
                        <td class="text-center">
                          <button class="btn waves-light tz-icnbtn"><i class="fas fa-trash-alt tz-trashicn"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-center" scope="row">2</th>
                        <td>
                          <div class="text-center">1234/9865</div>
                          <div class="text-center">file2.jpeg</div>
                        </td>
                        <td class="text-center"><i class="fas fa-coins" style="margin-right: 5px;"></i>20</td>
                        <td class="text-center">
                          <button class="btn waves-light tz-icnbtn"><i class="fas fa-trash-alt tz-trashicn"></i></button>
                        </td>
                      </tr>
                      <tr>
                        <th class="text-center" scope="row">3</th>
                        <td>
                          <div class="text-center">2567/5245</div>
                          <div class="text-center">file3.doc</div>
                        </td>
                        <td class="text-center"><i class="fas fa-coins" style="margin-right: 5px;"></i>35</td>
                        <td class="text-center">
                          <button class="btn waves-light tz-icnbtn"><i class="fas fa-trash-alt tz-trashicn"></i></button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Account Section -->
                <div id="account-section" class="tab-pane fade" role="tabpanel" aria-labelledby="account-tab">
                  <div class="text-center" style="padding: 30px 0px;">
                    <div class="tz-balancelbl">TOTAL BALANCE</div>
                    <div class="tz-balance"><i class="fas fa-rupee-sign"></i>540</div>
                  </div>
                  <div class="tz-account-article">
                    <div class="tz-accountarticleheading">Custom Recharge</div>
                    <form action="" method="post">
                      <input class="form-control" type="number"  id="custom-recharge-input" placeholder="Add Amount">
                      <button class="form-control tz-account-btn" type="submit">Add Recharge</button>
                    </form>
                  </div>
                  <div class="tz-account-article">
                    <div class="tz-accountarticleheading">Offer Pack</div>
                    <ul class="list-group list-group-horizontal-md tz-accountul">
                      <li class="list-group-item tz-account-li col-md-4">
                        <div class="tz-accountli-heading">Basic Recharge</div>
                        <div class="tz-accountli-price"><i class="fas fa-rupee-sign tz-accountli-priceicn"></i>50</div>
                        <div>Additional Recharge :<span class="tz-account-fontweight">5</span></div>
                        <div>Total Recharge :<span class="tz-account-fontweight">55</span></div>
                        <button class="btn tz-accountli-btn" data-toggle="modal" data-target="#basicrechargemodal">Add Recharge</button>
                      </li>
                      <li class="list-group-item tz-account-li col-md-4">
                        <div class="tz-accountli-heading">Standard Recharge</div>
                          <div class="tz-accountli-price"><i class="fas fa-rupee-sign tz-accountli-priceicn"></i>100</div>
                          <div>Additional Recharge :<span class="tz-account-fontweight">15</span></div>
                          <div>Total Recharge :<span class="tz-account-fontweight">115</span></div>
                          <button class="btn tz-accountli-btn" data-toggle="modal" data-target="#standardrechargemodal">Add Recharge</button>
                        </li>
                        <li class="list-group-item tz-account-li col-md-4">
                          <div class="tz-accountli-heading">Ultimate Recharge</div>
                            <div class="tz-accountli-price"><i class="fas fa-rupee-sign tz-accountli-priceicn"></i>200</div>
                            <div>Additional Recharge :<span class="tz-account-fontweight">50</span></div>
                            <div>Total Recharge :<span class="tz-account-fontweight">250</span></div>
                            <button class="btn tz-accountli-btn" data-toggle="modal" data-target="#ultimaterechargemodal">Add Recharge</button>
                          </li>
                    </ul>
                  </div>
                </div>
            </div>

        <!-- Modal -->

        <!-- Basic Recharge Modal -->
        <div class="modal fade" id="basicrechargemodal" tabindex="-1" role="dialog" aria-labelledby="basicRechargeModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header tz-modalheader">
                <h5 class="modal-title" id="basicRechargeModalLabel">Basic Recharge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span>Do you want to make Recharge of 50 ?</span>
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn tz-modalbtnyes">Yes</button>
                <button type="button" class="btn tz-modalbtnno" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Standard Recharge Modal -->
        <div class="modal fade" id="standardrechargemodal" tabindex="-1" role="dialog" aria-labelledby="standardRechargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header tz-modalheader">
                  <h5 class="modal-title" id="standardRechargeModalLabel">Standard Recharge</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <span>Do you want to make Recharge of 100 ?</span>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn tz-modalbtnyes">Yes</button>
                  <button type="button" class="btn tz-modalbtnno" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
         <!-- Ultimate Recharge Modal -->
        <div class="modal fade" id="ultimaterechargemodal" tabindex="-1" role="dialog" aria-labelledby="ultimateRechargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header tz-modalheader">
                  <h5 class="modal-title" id="ultimateRechargeModalLabel">Ultimate Recharge</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <span>Do you want to make Recharge of 200 ?</span>
                </div>
                <div class="modal-footer ">
                  <button type="button" class="btn tz-modalbtnyes">Yes</button>
                  <button type="button" class="btn tz-modalbtnno" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>


{% endblock %}
