
body{
    margin:0px;
    padding:0px;
}
.tz-header{
    padding-top: 10px;
    height: 60px;
    background-color: #49beb7;
    color:white;
}
.tz-header-name{
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 29px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.tz-ul{
    background-color:#49beb7;
    webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
}
.tz-li{
    width:25%;
    text-align: center;
}
.tz-linkbtn{
    width:100%;
    color:#ccc!important;
}
.tz-linkbtn:hover{
    color:white !important;
}
.tz-currentlink{
    color:white !important;
    font-size:20px;
}
/* Upload page */
.tz-upload-row{
    margin-top:25px;
}
.tz-icnrightmargin{
    margin-right:8px;
}
.tz-preview-btn{
    float:right;
    height: 38px;
    background-color: #096386;
    color: #fff;
    border-radius: 0px.25rem .25rem 0px;
    border: none;
    position: relative;
    top: -7px;
    width: 75px;
    right: -13px;
}
.tz-label-btmmargin{
    margin-bottom: 5px;
}
.tz-radio-marginleft{
    margin-left: 10%;
}
#pages{
    background-color: #eee;
    letter-spacing: 2px;
    cursor: default;
}
#amount{
    font-weight: 800;
    background-color: #eee;
    /* color: #555; */
    color:#000;
    letter-spacing: 2px;
    font-size: 18px;
    cursor: default;
}
    /* radio custom color */
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: #49beb7;
        background-color: #096386;
    }
.tz-getotpbtn{
    background-color: #26a69a;
    color: #fff;
    border-radius: .25rem;
}
.tz-getotpbtn:hover , .tz-getotpbtn:active{
    color: #fff;
}
    /* preview block */
    #container{
    color: white;        
    background: #525558;
    }
    .tz-topbaricn{
        font-size: 25px;
        cursor: pointer;
    }
    .tz-previewtopbar{
        cursor:default;
        position: relative;
        left:50%;
        transform: translateX(-50%);
    }
    .tz-page-info{
        margin:0px 8px;
        position: relative;
        top:-4px;
    }
    
    


/* Transaction page */
.tz-btn-group-pos{
    position: relative;
    left:50%;
    transform: translateX(-50%);
    padding:22px 0px;
}
.tz-singlebtn{
    box-shadow: none;
    background-color: white;
    color:#49beb7;
    border:1px solid #49beb7;
    font-size:11px;
    width:139px;
}
.tz-singlebtn:hover{
    color:#49beb7 !important;
}
.tz-singlebtn-active{
    background-color: #49beb7;
    color:#fff !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.tz-singlebtn-active:hover{
    color:#fff !important;
}
.tz-leftbtn{
    border-radius:20px 0px 0px 20px;
}
.tz-rightbtn{
    border-radius:0px 20px 20px 0px;
}
.tz-icnbtn{
    background-color: white !important;
    box-shadow: none;
    padding: 0;
    color: #e57373;
}
.tz-icnbtn:active , .tz-icnbtn:hover , .tz-icnbtn:focus{
    background-color: white !important;
    box-shadow: none !important;
    color: #e57373;
}
.tz-trashicn:hover{
    font-size:29px !important;
    animation:map 1s ease-out;
}
.tz-trashicn{
    font-size: 25px !important;
}
/* My Account Section */
.tz-balancelbl{
    color: darkgray;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 1px;
}
.tz-balance{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 5px;
    color:#000;
}
.tz-account-article{
    background: #f1f5f7;
    border-radius: .25rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
}
.tz-accountarticleheading{
    margin-bottom: 8px;
    font-size: 18px;
}
#custom-recharge-input{
    margin-bottom: 8px;
}
.tz-account-btn{
    background: #096386;
    color: #fff;
    margin-bottom: 8px;
}
.tz-account-li{
    text-align: center;
    margin-bottom: 10px;
    margin-right:4px;
}
.tz-accountli-heading{
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 18px;
}
.tz-accountli-price{
    font-weight: 800;
    font-size: 27px;
    letter-spacing: 2px;
}
.tz-account-fontweight{
    font-weight: 500;
}
.tz-accountli-priceicn{
    font-size: 24px;
    margin-right: 2px;
}
.tz-accountli-btn{
    box-shadow: none;
    width: 100%;
    border-radius: 25px;
    background: #345;
    background: #26a69a;
    color: #fff;
}
.tz-accountli-btn:hover , .tz-accountli-btn:active{
    color: #fff;
}
/* Modal section */
.tz-modalheader{
    background-color: #49beb7;
    color:#fff;
}
.tz-modalbtnyes , .tz-modalbtnyes:hover , .tz-modalbtnyes:active{
    background-color: #49beb7;
    color:#fff;
}
.tz-modalbtnno , .tz-modalbtnno:hover , .tz-modalbtnno:active{
    color: white;
    background: #f43366;
}
.tz-footer1{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #49beb7 !important;
}
.tz-footer2{
    margin-top:10px;
    background: #49beb7 !important;
}

/* Tablets & Large devices (tablets/laptops/desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    .tz-topmenu{
        background: #49beb7;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.14);
    }
    .tz-header{
        display: inline-block;
    }
    .tz-header-name{
        position:static;
    }
    .tz-ul{
        display: inline-block;
        padding: 0;
        width: 49.3%;
        box-shadow: none;
    }
    .tz-li{
        width: 24.2%;
        text-align: center;
        display: inline-block;
    }
    .tz-section{
        background: white;
        border-radius: .25rem;
        border: 1px solid #ccc;
        padding: 64px 31px;
        margin-top: 25px;
    }
    #file-input-msg-pages{
        display: inline !important;
    }
    #pagesblock{
        display:none;
    }
    .tz-accountul{
        position: relative;
        left: -4px;
    }
    .tz-account-li{
        margin-right: 5px !important;
    }
    body{
        background: #f1f5f7;
    }
    #container{
        width: 574px;
    }
} 
