{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}OTP Verification{% endblock %}

{% block body %}

        <div class="tz-login-header">
            <span class="tz-login-header-name">PrintMyCopy</span>
        </div>

        <div id="main-content">
            <ul class="nav tz-login-ul" >
                <li class="nav-item tz-login-li">
                    <a class="nav-link  waves-light tz-login-link-btn tz-currentlink" id="login-tab" href="#login-section" >
                        OTP Verification
                    </a>
                </li>
            </ul>

            <div class="tab-content container mt-3" id="tz-tab-content">
                <div  id="forget-section">
                    <form action="{% url "accounts:password_reset" %}" method="post">

                        {% csrf_token %}

                        {{ form|crispy }}
                        <button class="btn btn-info btn-block my-4 tz-btn-submit" type="submit">Verify OTP</button>
                    </form>

                    <div class="text-center"><a class="text-default" href="{% url "accounts:login" %}">Login</a></div>
                    <div class="text-center"><a class="text-default" href="{% url "accounts:register" %}">Create new account!</a></div>

                </div>
            </div>


        </div>

{% endblock %}
