{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block body %}

    <h2>Change Password | PrintMyCopy</h2>

    <div class="container col-lg-4">

        <form method="POST">
            {{form.non_field_errors}}
            {% csrf_token %}
            {% for field in form %}
                {{field.label_tag}}
                    {{ field }}
                {{ field.help_text | safe }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
            <button type="submit">Change Password</button>
        </form>

    </div>

{% endblock %}


