{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block body %}

    <h2>Set New Password | PrintMyCopy</h2>

    <div class="container col-lg-4">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Change Password">
        </form>

        <a href="{% url "accounts:password_reset_otp_resend" %}">Resend OTP</a>
        <br><br>

        <p>Already have an account? <a href="{% url "accounts:login" %}">Login!</a></p>

    </div>

{% endblock %}
