{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Complaints{% endblock %}

{% block body %}

        <h1>Status : {{ complaint.get_status }}</h1>


    <div class="container col-lg-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}


            {{ form|crispy }}


            <input class="btn btn-info" value="Submit" type="submit"/>
        </form>

        <a href="{{ complaint.get_delete_url }}"><button class="btn btn-danger">Delete</button></a>

        <p>Create new account ! <a href="{% url 'portal:home' %}">Home</a></p>

    </div>

{% endblock %}
