{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block body %}

        <div class="tz-login-header">
            <span class="tz-login-header-name">PrintMyCopy</span>
        </div>

        <div id="main-content">
            <ul class="nav tz-login-ul" id="tz-tab" role="tablist">
                <li class="nav-item tz-login-li">
                    <a class="nav-link  waves-light active show tz-login-link-btn tz-currentlink" onclick="currentlink(this.id);" id="login-tab" data-toggle="tab" href="#login-section" role="tab" aria-controls="login-section" aria-selected="true">
                        Login
                    </a>
                </li>
                <li class="nav-item tz-login-li">
                    <a class="nav-link waves-light tz-login-link-btn" onclick="currentlink(this.id);" id="sign-up-tab" data-toggle="tab" href="#sign-up-section" role="tab" aria-controls="sign-up-section" aria-selected="false">
                        Sign Up
                    </a>
                </li>
            </ul>
            <div class="tab-content container mt-3" id="tz-tab-content">
                <div class="tab-pane fade active show" id="login-section" role="tabpanel" aria-labelledby="login-tab">
                    <form action="{% url "accounts:login" %}" method="post">


{#                            {% for field in form %}#}
{#                                {{ field }}#}
{#                             <div>#}
{#                               {% for error in field.errors %}#}
{#                                     <p style="color: red">{{ error }}</p>#}
{#                               {% endfor %}#}
{#                             </div>#}
{#                           {% endfor %}#}


                        {% csrf_token %}

                        <div class="form-group">
                            <label class="tz-lbl-color"  for="loginmobileno">Mobile No</label>
                            <input name="username" class="form-control tz-inp input-medium bfh-phone" data-format="+91dddddddddd" id="loginmobileno" type="text" required >
                        </div>
                        <div class="form-group">
                            <label class="tz-lbl-color" for="loginpassword">Password</label>
                            <input name="password" class="form-control tz-inp" placeholder="Enter Your Password" id="loginpassword" type="password" required>
                        </div>
                        <button class="btn btn-info btn-block my-4 tz-btn-submit" type="submit">Login</button>
                    </form>
                    <div><button class="tz-linkbtn tz-linkbtncolorgrn" id="forget-tab" onclick=" forgetPassword(this)" >Recover Password ?</button></div>
                </div>


                <div class="tab-pane fade" id="sign-up-section" role="tabpanel" aria-labelledby="sign-up-tab">
                    <form action="{% url "accounts:register" %}" method="POST">

                        {% csrf_token %}

                        <div class="form-group">
                            <label class="tz-lbl-color" for="regmobileno">Mobile No</label>
                            <input name="phone" class="form-control tz-inp input-medium bfh-phone" data-format="+91dddddddddd" type="text" id="regmobileno" required>
                        </div>
                        <div class="form-group">
                            <label class="tz-lbl-color" for="regemail">Email </label>
                            <input name="email" class="form-control tz-inp" type="text" placeholder="Enter Your Email" id="regemail">
                        </div>
                        <div class="form-group">
                            <label class="tz-lbl-color" for="regpassword">Password</label>
                            <input name="password1" class="form-control tz-inp" type="password" id="regpassword" placeholder="Enter New Password" required>
                        </div>
                        <div class="form-group">
                             <label class="tz-lbl-color" for="regrepeatpassword">Repeat Password</label>
                            <input name="password2" class="form-control tz-inp" type="password" id="regrepeatpassword" placeholder="Repeat New Password" required>
                        </div>
                        <button class="btn btn-info btn-block my-4 tz-btn-submit" type="submit">Create Accont</button>
                    </form>
                </div>
                <div  id="forget-section" style="display: none;">
                    <form action="{% url "accounts:password_reset" %}" method="post">

                        {% csrf_token %}

                        <div class="form-group">
                            <label class="tz-lbl-color"  for="forget-mobileno">Mobile No</label>
                            <input name="phone" class="form-control tz-inp input-medium bfh-phone" data-format="+91dddddddddd" id="forget-mobileno" type="text" required >
                        </div>
                        <button class="btn btn-info btn-block my-4 tz-btn-submit" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}