{% extends 'portal/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block body %}

    <div class="container text-center">
        <h2>Change Password | PrintMyCopy</h2>

        <div class="container col-lg-4">

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn tz-accountli-btn" type="submit">Change Password</button>
            </form>

        </div>

{#    </div>#}
{##}

{% endblock %}


